@import '/src/Sass/variables.scss';
@import '/src/Sass/index.scss';

.company-card{
    background-color: #fff;
    border: 1px solid #e6e6e6;
    margin-right: auto;
    margin-left:30px;
    @include tablet{
        margin: 50px 10px !important;
    }
   
    &:after{
        width: 100%;
        display: block;
        content: '';
        height: 5px;
        background: linear-gradient(to right, #c7a006, #e7ed32 50%, #c7a006)  !important;
    }
    
.card-heading{
    height: 70px;
    align-items: center;
    padding: 15px 0 15px 20px;
    border-bottom: 1px solid #e6e6e6;

    h5{
        margin-top: 10px;
        font-size: 16px !important;
        font-family: 'Lato' !important;
    }
        
}

.card-content{
    padding:10px 20px; 

 table{
    td{
        color: #9d9494 !important;    
        font-size: 14px;
        padding-right: 20px;
        padding-bottom: 20px;
    
        label{
            color:#000;
        }
    }
}
    .total{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 5px;
        .fees{
            font-size: 14px;
            font-weight: normal;
            font-family: 'Open Sans' !important;
        }
        label{
            font-size: 20px;
            font-weight: bold;
            font-family: 'Lato';
        }
    }
}
}