@import '/src/Sass/variabeles.scss';
@import '/src/Sass/index.scss';

.stepper-container{
    border:1px solid $border-color;
    
    .stepper{
        display: flex !important;
        justify-content: center;
        padding: 10px 0 0;
        
        
        .active{ 
            background: linear-gradient(252deg, #c7a006, #e7ed32 50%, #c7a006)  !important;
        }
            
        .step{
            font-family: 'Lato';
            text-align: center !important;

            .title, .description{
                color:$disabled-color !important;
                }
                
            .description{
                font-weight: bold !important;
                font-size: 14px !important;
            }
        }
    }
}