.breadcrumb{
    padding:15px 50px;
    display: flex !important; 
    align-items: center;
   .section{
       font-size: 12px;
       color:#9d9494 !important;
   }
  .icon{
      font-size: 22px !important;
  }
}