@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import "./variable";

@mixin  para {
    font-size: 16px;     
    line-height: 1.25;
    font-family: Helvetica;
    color: #000000;
}
@mixin form_para{
    font-size: 13px;
    font-weight: 700;
    text-decoration: underline;
    font-stretch: normal;
    line-height: 20px;
    color: #000000;
    
}
@mixin  login_property {
    position: absolute;
    text-align: center;
    top:20%;
    left: 38%;
    background-color: #ffffff;
    width: 450px;
    height: 492px;
    padding: 30px 50px;
}
.about{
    position: relative;
    .about-content{ 
        position: absolute;
        top: 38px;
        left: 25%;
        width: 700px;
        transform: translate(0%, 0%);
        text-align: center;
    }
    p{
        line-height: 1.33;
        font-size: 18px;
        text-align: center;
        font-size: Open Sans;
        color: #9d9494;
        margin-bottom: 38px;
        margin-top: 20px;
    }
    h1{
        margin: 48px 0 10px 0;
    }
 
      
}

.team{
    
    .team-name{
        text-align: center;
    }
    .about-card{
        position: relative;
        padding: 30px;
        border: solid 1px #e6e6e6;
        background-color: #ffffff;  
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 94px 0  136px 0;
    }
   
    .space1{
        margin-right: 0px;
        margin-left: 15px;
    }
    .space2{
        margin-left: 15px;
    }
    .team-image{
        position: absolute;
        top: -3rem;
        left: -1rem;
        background-color:#fff;

    }
    .team-name p{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #9d9494;
        line-height: 1.36;
        font-size: 14px;    
    }
    h5{
        font-size: 18px;
        font-weight: 500;
        font-family: Lato;
        line-height: 1.22;
    }   
    .team-content p{
        color: #9d9494;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        line-height: 1.38;
    }
}
 
.contact{
    text-align: center;
    height: auto; 
    img{
      background-size: cover;
    }
    h1{
        color: #fff;
        padding-top: 82px;
    }
    p{
        color: #fff;
        padding: 20px 333px 62px 333px;

    }
 

}

.address{
    margin: 76px 0 126px 0;
    iframe{
        width: 100%;

        height: 349px
    }
    .contact-details-1{
        display: inline-flex;
        width: 100%;
        height: 130px;
        border: solid 1px #e6e6e6;
        margin-bottom: 20px;
        box-shadow: 0 4px 20px -6px #e6e6e6;
       
    }
    .contact-details-1 img{
        width: 48px;
        height: 48px;
        margin-left: 30px;
        margin-top:20px;
        justify-content: center;
        align-items: center;
    }
    .contact-details{
        display: inline-flex;
        width: 100%;   
        height: 89px;
        border: solid 1px #e6e6e6;
        margin-bottom: 20px;
        box-shadow: 0 4px 20px -6px #e6e6e6;    
    }
    
    .contact-details img{
        width: $width;
        height: 48px;
        margin-left: 30px;
        margin-top:20px;
    }
   
    .contact-details p{
        margin: 35px 25px 0 20px;
        @include para;
    }
    .contact-details-1 p{ 
        margin: 25px 25px 0 20px;
        @include para;
    }
    
  
}


/* company page scss */
.company{
    text-align: left;
    height: auto; 
    padding: 82px 0;
  .headingOne {
    color: #ffffff;
  }
  
  img{
    background-size: cover;
  }
  h1{
      color: #fff;
      
  }
  p{
      color: #fff;
      margin-top: 20px;
  }

}

.overview{
  margin: 40px 0 136px 0;
  width: 100%;

  .testimonial{
      display: inline-flex;
      margin: 20px 0;
  }
  .testimonial img{
      width: 17px;    
      height: 17px;
      margin-right: 11px;
      margin-top: 5px;
  }
  .testimonial p{
      font-size: 16px;
      line-height: 1.33;
      color: #9d9494;
      font-family: Open Sans;
      text-align: left;   
      line-height: 1.33;
  }
  .testimonial h3{
      width: 105px;   
      height: 29px;
      line-height: 1.21;
      margin: 46px 0 20px 0;
      font-size: 24px;
  }   

}   

.crumb{
    text-decoration: none;
    position: absolute;
    top: 5rem;
    text-decoration: none;
    color: #fff;
    background: transparent;

    .section {
        color: #ffffff;
        text-decoration: none;
    }
    .divider{
        color: #fff;
    }
}

/* login pages sass */
.login{
    position: relative;
   

.login img{
    background-size: cover;
    
    position: relative;
    
    width: 100%;
    z-index: -2;
}
.login_form{
 @include login_property;
}
.fgt1{
    display: inline-block;
    padding-bottom: 30px;
    @include form_para;

   
}
.fgt2{
    display: inline-block;
    padding: 30px 0 30px 0;
  
}

& a{    
    @include form_para;
} 
.form-btn{
  
    font-family: Lato;
    width: 100%;
    height: 40px;
    padding: 11px 25px;
    border: 1px solid #000;
    background: #ffffff;
    object-fit: contain;
    border-radius: 20px;
    color: #000;
    
  }
  .form-btn:hover{
    background: rgb(199,160,6);
    background: linear-gradient(90deg, rgba(199,160,6,1) 11%, rgba(231,237,50,1) 51%, rgba(199,160,6,1) 92%); 
    color: #000;
    border: 1px solid #c7a006;
  }
  .field{
     
      text-align: left;
     
  }
  .check{

    background-color: #f7f7f7;
    padding: 19px 0 22px 20px;
  }
  h3{
  
      line-height: 1.21;
      font-family: Lato;
      font-size: 28px;
      font-weight: bold;
      line-height: 1.21;
    
  }
  
}

/* login 2 sass */
    
    .otp{
        display: inline-flex;
    }
    .login_form2{
        @include login_property;
        height: 512px;
    }

/* login form3  sass */  
.login_form3{
    @include login_property;
    height: 301px;
.form-btn{
        margin-top: 31px;
    }
}



@media (max-width: 800px) {
    .contact{
        p{
            
            padding: 20px 0;
        }
    }
    .overview{
        
    }

    
    .login .login_form, .login_form2{
        position: absolute;
        left: 20%;    
        
    }
    
  }


  @media (max-width: 415px) {
    .login{
        position: fixed;
    }
   
    .login .login_form, .login_form2{
        position: absolute;
        left: 0%;   
            
        
    }

  }