@import './variable';
.border_appointment{
    background-color: chartreuse;
    border-bottom: solid 1px #e6e6e6;
  
}
.appoint_card{
    display: inline-flex;
    padding:1px;
.appoint_card content{


   
}
& p{
       background-color: #ffffff;
        @include main_heading;
        font-weight: normal;
     
        width: 230px;
        margin-right: 32px;
       
       
    }
.date_time{
    @include main_heading;
    color: #9d9494;
}

.appoint_card images{
    display: inline-flex;
    width: 34px;

    height: 34px;
}
& img{
    
    width: 34px;
   margin: 15px 0 15px 20px;
    height: 34px;
}

}