$primary-color : rgb(199,160,6);
$gradient : linear-gradient(90deg, rgba(199,160,6,1) 11%, rgba(231,237,50,1) 51%, rgba(199,160,6,1) 92%);
$width : 48px;
$golden : linear-gradient(90deg, rgba(199,160,6,1) 11%, rgba(231,237,50,1) 51%, rgba(199,160,6,1) 92%); 
