
    .viewDownload{
        margin: 6vh 5vw;
        h1{
          text-align: left;
          &::after{
              height: 4px !important;
              text-align: left;

              margin: 0px !important;
          }
        }
       
        .same-btn {
            position: relative;
            left: 50%;
            transform: translateX(-50%);

            margin-top: 0.75rem;
        }
    }
.data_grid{
    
    
    
    
    table{
    margin-top: 5vh !important;    
    }
    
}