@import '/src/Sass/variables.scss';

.heading{
    font-size: 12px !important;
    font-weight: 400 !important;
    color: #9d9494;
} 
h3{
    font-family:  'Lato';

    @include mobile
    {
        text-align:center;
    }
}
.payment-container{
    border: 1px solid #e6e6e6;
    padding:20px 30px;
    margin-bottom: 35px;
    
    
    .value{
        font-size: 14px !important;
        font-weight: 400 !important;
    }
    .fees{
        color:#000;
    }
    .total{
        font-size: 18px !important;
        font-family: 'Lato' !important;
        font-weight: bold !important;
        }
    }
    
.notice{
    font-size: 12px !important;
    font-weight: 400 !important;
    color: #9d9494;
    padding-bottom: 30px;
}