@import '/src/Sass/variables.scss';

.upload-form{
    background-color: #fff;
    padding: 30px 50px !important;


    label{
        display: block;
        font-weight: bold !important;
        margin-bottom: 10px;
         }
        .upload-container{
            border: 1px dashed #d5d5d5;
            padding: 30px !important;          
            display: flex;
        
            .btn-upload{
                margin-top: 25px;
                height: 40px;
                background-color: #fff !important;
                border-radius: 20px !important;
                border: solid 1px #000000 !important;
                display: flex !important;
                align-items: center;
                justify-content: center;
                color: #000 !important;                
        
                &:hover{
                    border: 1px solid transparent !important;
                    background: $hover-color;
                }
               
            }
            .input{
                width: 100%;
            }
        }
        .document-list{
            margin-top: 30px !important;
            
            .item{
                margin-bottom: 10px;
                color: #d9d9d9;
               font-size: 16px;
                }
            .icon{
                transform: rotate(45deg);
                font-size: 10px !important;
            }
        }
}