@import '/src/Sass/index.scss';
@import '/src/Sass/variables.scss';

.success-form{
    background-color: #fff;
    font-family: 'Lato' !important;
    padding: 30px 150px;

    @include tablet{
        padding: 30px;
    }
    label{
        display: block;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 7px;
    }
     .input, .selection{
        width: 95%;
        height: 40px !important;
        margin-bottom: 20px !important;
    }



.success-box{
    width: 100%;
    @include flex;
    margin-bottom: 30px !important;

    @include tablet{
        flex-direction: column;
        margin:10px !important;
    }

    .icon{
        font-size: 50px;
        color:#fff;
        background-color: #8dc640;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65px;
        height: 65px;
        border-radius: 25px;

        @include tablet{
            margin:0 10px 10px;
        }
        }
        .text{
            font-family: 'Lato';
            font-size: 18px;
            font-weight: bold !important;
            color: #9d9494;
            margin: 0 30px;
        }
    }   
    .paid-label{
        font-size: 14px !important;
        font-weight: normal !important;
    }
     
    .total-label{
        font-family: 'Lato' !important;
        font-size: 18px !important;   
    }
    .status{
        color: #4ca0dd !important; 
        background: rgba(#4ca0dd, 0.15) !important; 
        padding: 2px 10px !important;
        border-radius: 20px !important;
    }
    .value{
        font-weight: normal !important;
    }
    .event-card{
        border:1px solid #e6e6e6;
        padding: 10px 10px 0;
        display: flex;
        justify-content: space-between;

        .calender{
            display: flex;
            padding: 15px;
            margin: 10px 0 0 10px;
            align-items: center;
            flex-direction: column;
            width: 100px;    
            height: 40%;
            background: #f7f7f7;

            .date{
                font-size: 30px;
             }
             .month{
                 font-size: 12px;
             }
        }
        .event-info{
            margin:0 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            @include tablet{
                padding: 10px;
            }
            .upcoming{
                background: linear-gradient(252deg, #c7a006, #e7ed32 50%, #c7a006)  !important;
                padding: 2px 10px !important;
                border-radius: 20px !important;
            }
            p{
                margin:10px 0;
                font-size: 14px !important;
                font-weight: bold;
            }
            .time{
                font-size: 14px;
                font-family: 'Lato';
                font-weight: bold;
                color: #9d9494;
            }
        }
    }
}
.bottom-btn{
    width: 100%;
    display: flex !important; 
    justify-content: center;
    border-top:1px solid #e6e6e6;
    padding:20px 0;
    
    .btn{
        width: 20%;
        font-family: 'Lato' !important;
        margin:15px !important;
        height: auto;
        color: black !important;
        background: #fff !important;
        font-weight: bold !important;
        font-size: 15px !important;
        border: 1px solid black !important;
        border-radius: 20px !important;
        text-transform: uppercase !important;

        @include tablet{
            width: 50%;
        }

        &:hover{
            background: linear-gradient(252deg, #c7a006, #e7ed32 50%, #c7a006)  !important;
            border:transparent !important;
        }
    }
}