@import './variable';

.Request_bg{
    height: 91px;
    padding: 15px;
}
.request3{

    background: #fff;
    width: 100%;
    p{
        @include main_heading;  
        font-weight: 500;
        width: 70%;
    }
    .para6{
        @include para7;
        
    }

    .date_time{
        
    }
}