@import './variable';

.Request_bg{
    background: #ffffff;
   
}
.request3{

    background: #fff;
    margin: 0;
    padding: 15px;
    height: 91px;
    p{
        @include main_heading;  
        font-weight: 500;
       
    }
    .para6{
        @include para7;
        
    }

    .date_time{
        margin-left: 15px;
    }
}