@import '/src/Sass/variables.scss';
@import '/src/Sass/index.scss';

main{
    width: 100%;

    .form{
        padding: 20px 45px;
        height: auto !important;
        
    .radio{
        width: 100%;
        background-color:$white;
        height: 60px;
        border: 1px solid #f4f4f4;
        display: flex !important;
        align-items: center;
        padding-top: 8px;

    input[type="radio"]
    {
        @include flex;    
    }
        
        label{
        font-weight: normal;
            font-size: 14px !important;
            margin-left: 20px;
                }
            }
     }
}